<div id="contact" class="big-bg">
  <div class="wrapper">
    <h2 class="page-title">Edit news</h2>
        <%= form_with(model: @entry, local: true) do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
          <%= f.label :category %>
          <%= f.text_area :category, class: 'form-control' %><BR>
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control' %><BR>
          <%= f.label :photo %>
          <%= f.file_field :image %><BR>
          <%= f.submit "Update news", class: "button-create" %>
        <% end %>
        <h3><%= link_to '削除する', entry_path(@entry), method: :delete %></h3>
    </div>
  </div><!-- /.wrapper -->
</div><!-- /#contact -->
